@model SinifQueryModel
@*Generated from Custom Template.*@
@*Model namespace using directive should be added to _ViewImports.cshtml.*@

@{
    ViewData["Title"] = "Detay";
}

<div class="container">
    <h1>@ViewData["Title"]</h1>
</div>

<div class="container">
    <partial name="_Message" />
    @if (Model is not null)
    {
    <h4>Sınıf</h4>
    <hr />
    <div class="row mb-3">
        <div class="col-2">
            <b>@Html.DisplayNameFor(model => model.Adi)</b>
        </div>
        <div class="col-10">
            @Html.DisplayFor(model => model.Adi)
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-2">
            <b>@Html.DisplayNameFor(model => model.CreateDate)</b>
        </div>
        <div class="col-10">
            @Html.DisplayFor(model => model.CreateDate)
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-2">
            <b>@Html.DisplayNameFor(model => model.CreatedBy)</b>
        </div>
        <div class="col-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-2">
            <b>@Html.DisplayNameFor(model => model.UpdateDate)</b>
        </div>
        <div class="col-10">
            @Html.DisplayFor(model => model.UpdateDate)
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-2">
            <b>@Html.DisplayNameFor(model => model.UpdatedBy)</b>
        </div>
        <div class="col-10">
            @Html.DisplayFor(model => model.UpdatedBy)
        </div>
    </div>
        @*
    <div class="row mb-3">
        <div class="col-2">
            <b>@Html.DisplayNameFor(model => model.ManyToManyProperty)</b>
        </div>
        <div class="col-10">
            @if (!string.IsNullOrWhiteSpace(Model.ManyToManyProperty))
            {
            <div style="overflow-y:auto;border-style:solid;border-width:1px;padding-left:7px;height:100px;">
                @Html.Raw(Model.ManyToManyProperty)
            </div>
            }
        </div>
    </div>
    *@

    <div class="row mb-3">
        <div class="col-2">
            <b>@Html.DisplayNameFor(model => model.Ogrenciler)</b>
        </div>
        <div class="col-10">
    @if (Model.Ogrenciler is not null && Model.Ogrenciler.Any())
    {
            <div style="overflow-y:auto;border-style:solid;border-width:1px;padding-left:7px;height:100px;">
        @foreach (var ogrenci in Model.Ogrenciler)
        {
                @ogrenci.AdiSoyadi
                <br />
        }
            </div>
    }
        </div>
    </div>

    <hr />
    <a asp-action="Edit" asp-route-id="@Model?.Id">Düzenle</a>@:&nbsp;|&nbsp;
    <a asp-action="Index">Listeye Dön</a>
    }
</div>



